{% extends 'base2.html' %}

{% block header %}
{% endblock header %}

{% block content %}
{% if object.author == user %}
<div class='container'>
    <div class="card">
        <h5 class="card-header">{{ object.title }}</h5>
        <div class="card-body">
            <!--
            <h5 class="card-title">カテゴリ : {{object.category}}</h5>
            -->
            <p class="card-text">{{ object.content | linebreaksbr }}</p>
            <a href="{% url 'list' %}" class="btn btn-primary">一覧へ</a>
            <a href="{% url 'update' object.pk %}" class="btn btn-success">編集する</a>
            <a href="{% url 'delete' object.pk %}" class="btn btn-danger">削除する</a>
        </div>
    </div>
{% endif %}
<br>
<p align="center">
    {% if user.is_authenticated %}
    <em>{{ user.username }}でログイン中</em><br />
    <a href="{% url 'logout1' %}">ログアウト</a>
    {% else %}
    <em>
        ログインは<a href="{% url 'login1' %}">こちら</a>
        {% endif %}
</p>
</br>
{% endblock content %}